<a href="https://colab.research.google.com/github/BEST-PK/DPDM2024/blob/main/Python_ipynb(dpdm24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Class : 19 June 2024**

 ## **Python101 : พื้นฐาน**


*   for loop used indentation คือการเว้นเข้าไป เพื่อบอกว่าโค้ด for loop ที่ย่อเข้าไป เป็นส่วนหนึ่งของ line หลัก
*   ภาษา python ให้ความสำคัญกับวงเล็บ [ระบุ set ของข้อมูล], <ระบุ set ของข้อมูล> , (ส่วนหนึ่งของ func)

In [ ]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range(10):
        ccc=10
        #print(ccc)

a /
b /
c /

## **Defind Variable : การกำหนดตัวแปร**
สำหรับการเก็บข้อมูลไว้ในตัวแปรนั้นๆ
**variable_a = ข้อมูลที่เราต้องการ**

ซึ่งเราไม่ต้องกำหนดชนิดตัวแปรเองมันจะกำหนดให้เราเลย แต่เราก็ต้องเข้าใจชนิดของมันเองว่ามันคืออะไร เพื่อให้นำไปใช้งานได้ถูกต้อง

## **การตั้งชื่อตัวแปร**
*   ตั้งให้สื่อความหมาย
*   ต้องเป็นภาษาอังกฤษ
*   ใช้ตัวเลขผสมตัวหนังสือได้ แต่ห้ามขึ้นต้นด้วยตัวเลข
*   ห้ามมีเว้นวรรคในตัวแปร
*   ตัวใหญ่ ตัวเล็กมีค่าไม่เท่ากัน

In [ ]:
a = 5 #int
print(a)

b = 5.7 #float
print(b)

c = a-b
print(c)

5
5.7
-0.7000000000000002

## **Intro to string and print statement**
การจัดการข้อมูลประเภท String และคำสั่งพิมพ์

### **String(text)**
*  String เป็นลำดับของตัวอักษรหลายตัวเรียงต่อกัน (text )
*  การที่จะประกาศ String ค่าของมันจะอยู่ในเครื่องหมาย Single quote  (' ') หรือ Double quote ( " ")  เท่านั้น

In [ ]:
#กำหนดตัวแปรสำหรับเก็บข้อมูล text
#ชื่อตัวแปร="ข้อความ"
veriable1 ="Stat"
veriable2 ='KKU'
veriable3 ='12345'
print(veriable1)
print(veriable2)
print(veriable3)

Stat
KKU
12345

In [ ]:
#สามารถแสดงข้อมูลจาก 2 ตัวแปรมารวมกันได้ str+str
print(veriable1+veriable2)

#แต่ไม่สามารถต่อกับตัวแปรชนิดต่างกันได้ str+int or int+str
int1=1
#print(veriable1+ int1 ) #TypeError: can only concatenate str (not "int") to str
#print( int1 +veriable1) #TypeError: can only concatenate str (not "int") to str
#หากต้องการใช้  str+int or int+str
print(veriable1+ str(int1))

StatKKU
Stat1

### **การจัดการ text แบบพิเศษ (โดยใช้ตัวแปร หรือ run code ใน text)**

โดยการใช้        **f'ข้อความ1 {ส่วนของ code1} ข้อความ2 {ส่วนของ code2}'**

In [ ]:
print(f'six plus five = {6+5}') # F-String คือเอา f' ไปใส่ข้างหน้า แล้วจะสามารนำตัวแปรที่มีค่าอยู่แล้วมาแทรกได้

six plus five = 11

In [ ]:
print(f'six plus five = {6+5.7:.2f}%') # ใส่ :.2f} คือให้แสดงค่าของตัวเลข เป็นทศนิยม 2 ตำแหน่ง// ใส่ % หลัง } คือเครื่องหมาน สามารถเป็นเป็น $ & หรืออื่นๆได้

six plus five = 11.70%

In [ ]:
print(f'six plus five = {6+5:03d}') #แสดงผลลัพธ์ 3 หลัก

six plus five = 011

In [ ]:
st1 = f'six plus five = {6+5:03d}' # สร้างตัวแปร st1 มาเก็บค่าของ f'six plus five = {6+5:03d}
st1 # แสดงค่าของst1

'six plus five = 011'

####  **การใช้งาน quote และ double quote**

In [ ]:
# การใช้งาน quote และ double quote
# f'six plus five = {'six'+'five'}' #SyntaxError: f-string: expecting '}'

f"six plus five = {'six'+'five'}"

'six plus five = sixfive'

### **Advanced printing : การแสดงผลแบบ Advanced**
Syntax สำหรับ Print :
**print(object(s), sep=separator, end=end, file=file, flush=flush)**

#### **object(s)**
(s) สามารถ input object ได้มากกว่า 1 ตัว

In [ ]:
print(veriable1,veriable2,veriable3)

Stat KKU 12345

#### **separator(sep): การแบ่งข้อมูลด้วยคำสั่ง ช่องว่าง , และ /**
Default is '(ช่องว่าง) '

In [ ]:
#ถ้าไม่กำหนด sep จะใช้ ' ' แบ่ง
print(veriable1,veriable2,veriable3)

Stat KKU 12345

In [ ]:
#ถ้ากำหนด sep เป็น อักขระอื่นๆ
print(veriable1,veriable2,veriable3,sep='+')
print(veriable1,veriable2,veriable3,sep='/')
print(veriable1,veriable2,veriable3,sep=',')

Stat+KKU+12345
Stat/KKU/12345
Stat,KKU,12345

#### **end : สำหรับการขึ้นบรรทัดใหม่หรือการเพิ่มตัวอักษร**
Default is '\n'

In [ ]:
print('stat') #Default is '\n' ## ขึ้นบรรทัดใหม่
print('kku')

stat
kku

In [ ]:
print('stat', end='+-+')
print('kku')

stat+-+kku

#**Class : 10 July 2024**

##char (acter) (ตัวอักษร)

In [ ]:
a = 'C'

In [ ]:
b= 'haracter'

In [ ]:
print(f'a={a} b={b},then {a}+{b} = {a+b}') #string + string

a=C b=haracter,then C+haracter = Character

In [ ]:
A = 'c'
B = 'a'

In [ ]:
print(A+B) # string + string คือมาต่อกันได้

ca

In [ ]:
A = '1'  #str
B = 2   #int
print(A,B)

1 2

integer * char mean multiple copies of the char หรือสามารถคูณตัวอักษรเพื่อแสดงผลเท่าคูณได้

In [ ]:
print(5*'T')

TTTTT

##List() : โครงสร้างข้อมูล


*   List สามารถเก็บข้อมูลหลายประเภทได้ ไม่ว่าจะเป็นตัวเลข สตริง หรือออบเจกต์อื่น
*   List สามารถสร้างได้โดยใช้เครื่องหมายวงเล็บเหลี่ยม [] หรือใช้ฟังก์ชัน list()

In [ ]:
list_a = [1, 2, 3] #สร้างจากการใส่ค่าเข้าไปเลย

In [ ]:
list_b =[] #สร้างจากเซตว่าง และเพิ่มค่าเข้าไปที่หลัง
list_b.append(1) # เพิ่มค่า 1
list_b.append(2) # เพิ่มค่า 2
list_b
#ค่าที่เพิ่มจะต้องเรียงลำดับเสมอ!!
list_b.append('f')
list_b.append([12,'m','n'])
list_b

[1, 2, 'f', [12, 'm', 'n']]

In [ ]:
list_b[3] #index

[12, 'm', 'n']

##For Loops : วนซ้ำ

แนวคิด --> for สมาชิกแต่ละตัว in list :             ทำอะไรสักอย่าง

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for i in [1,2,3,4,5]:
  print(2*i, end=' ')

2 4 6 8 10

###Quiz2

ให้ print Ka 5 ครั้ง ต่อด้วย Ga 10 ครั้ง
แบบใช้ loop และขั้น Ka แต่ละตัวด้วย +
ขั้น Ga แต่ละตัวด้วย x (ในบรรทัดเดียวกัน)

In [ ]:
for i in range(5):
    print("Ka", end='')
    if i!=4:
         print("+", end='')
print("%", end='')
for i in range(10):
    print("Ga", end='')
    if i!=9:
         print("x", end='')
    #print("Ga", end='x')

Ka+Ka+Ka+Ka+Ka%GaxGaxGaxGaxGaxGaxGaxGaxGaxGa

## int(eger)(จำนวนเต็ม)

In [ ]:
int_a = 7
int_b = 2

print(type(int_a),type(int_b))  #เช็คชนิดของตัวแปร

<class 'int'> <class 'int'>

In [ ]:
int_c = int_a + int_b #assign the value as the output of operation
print(int_c)

9

In [ ]:
6**3 #power

216

In [ ]:
6**1/2 #square root

3.0

Float(จำนวนจริง ทศนิยม)

In [ ]:
fl_a = 7. # dot without number = Float too
fl_b = 2.571

In [ ]:
print(fl_a)

7.0

In [ ]:
print(type(fl_a))

<class 'float'>

##Boolean (ตัวแปรที่มีค่า True or False) ตรรกศาสตร์#

In [ ]:
b_T = True
b_F = False

```==```equal,  ```!=```not equal,
 ```>```greater than,  ```<=```less than or equal,  ```|```or,  ```&```**and**,  ```in``` ตรวจสอบสมาชิกใน list,  ```is``` ตรวจสอบชนิดตัวแปร

In [ ]:
b_T | b_F

True

In [ ]:
nane = 'Khon Kaen University'
print('T' in nane)
print('t' in nane)

False
True

##Complex number (จำนวนเชิงซ้อน)

In [ ]:
x = 1+2j

we can check the datatype with type()

In [ ]:
print(f'variable a value is {x} and datatype is {type(x)}')

variable a value is (1+2j) and datatype is <class 'complex'>

In [ ]:
print(f'ตัวแปร A ค่าคือ {A} ชนิด {type(A)}')

ตัวแปร A ค่าคือ 1 ชนิด <class 'str'>

In [ ]:
print(f'ตัวแปร a ค่าคือ {a} ชนิด {type(A)}')

ตัวแปร a ค่าคือ C ชนิด <class 'str'>

##Variable Casting : การแปลงชนิดของตัวแปร

In [ ]:
int_a = 7
int_b = 2

In [ ]:
print(f'int_a={int_a}, int_b={int_b}, fl_a = {fl_a}, fl_b={fl_b}')

int_a=7, int_b=2, fl_a = 7.0, fl_b=2.571

In [ ]:
str_a ='6'
str_b = '-2'

In [ ]:
str_a2int = int(str_a) #transform string into int
print(f'variable str_a2int value is {str_a2int} and data type is {type(str_a2int)}')

variable str_a2int value is 6 and data type is <class 'int'>

In [ ]:
str_a + int_a # ไม่สามารถนำ string + int ได้

NameError: name 'int_a' is not defined

In [ ]:
str_a2int +int_a

13

In [ ]:
str(fl_b) # transform float to string

'2.571'

In [ ]:
int(fl_b) # transform float to int (but it will cut the floating point)

2

##replace() แทนที่ string

In [ ]:
st_test1 = 'Department 0f Statistics,'

In [ ]:
st_test1.replace('e',' ') # replace e with space --> ('ตัวที่หาเมื่อต้องการเเทนที่,'ค่าที่เเทนที')

'D partm nt 0f Statistics,'

In [ ]:
st_test1 #ไม่โชว์การแทนค่า ยังไม่อัพเดทการแก้ไข

'Department 0f Statistics,'

ถ้าต้องการให้มันบันทึกข้อมูลที่แก้ไข

In [ ]:
st_test2 = st_test1.replace('e',' ') #สร้างตัวแปรใหม่มาเก็บค่า st_test1 that already replaced e with space
print(st_test2)

D partm nt 0f Statistics,

In [ ]:
st_test1.replace('ti','TI') # modift ti to TI

'Department 0f StaTIsTIcs,'

##split () แยก string

In [ ]:
'a b c d e f g'.split() #แยก string ที่ช่องว่าง

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
'abc de fg'.split() #แยก string ที่ช่องว่าง

['abc', 'de', 'fg']

In [ ]:
'a,b/c, d e/ f g'.split('/') #แยกดัวย /  split with /

['a,b', 'c, d e', ' f g']

###Quiz3
แยก 'a,b/c,d e/f g' ออกมาเป็น list -> ['a','b','c','d','e','f','g']

In [ ]:
Text = 'a,b/c,d e/f g'
Text= Text.replace(',', ' ').replace('/', ' ')
Text

'a b c d e f g'

In [ ]:
Text.split()

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
'a,b/c,d e/f g'.replace(',', ' ').replace('/', ' ').split()  #ลองใช้ฟังก์ชั่น replace และ split แบบต่อกัน

['a', 'b', 'c', 'd', 'e', 'f', 'g']